html
body
    height 100%
    min-width 1182px
    background #fff
    box-sizing border-box
    padding: 0px
    margin: 0px
body
    font-family 'MicrosoftYaHei', 'Helvetica Neue', 'Helvetica', 'PingFangSC-Regular', 'Helvetica Neue', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Microsoft Yahei', Arial, sans-serif
    font-size 14px
h1, h2, h3, h4, h5
    font-weight normal
ul, p
	margin 0
	padding 0
li
	list-style none
a
	text-decoration none
	&:hover
		text-decoration none
.mt20
    margin-bottom 20px
.mt16
    margin-bottom 16px
.mt8
    margin-bottom 8px
.mt0
    margin-bottom 0px !important
.mr20
    margin-right 20px
.pr20 
    padding-right 20px
.clearfix:after
    content "."
    display block
    height 0
    clear both
    visibility hidden
.full-height
    height 100%


.gray6
    color #666666
.gray9
    color #999999
.black3
    color #333333

.flex
    display flex
.flex-v-c
    display flex
    align-items center
.flex-h-c
    display flex
    justify-content center
.flex-vh-c
    display flex
    justify-content center
    align-items center
.flex-dc
    flex-direction column
.flex-1
    flex 1
for i in 0 1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  18  19  20
    .mb{i*4}
        margin-bottom 4px * i
    .mr{i*4}
        margin-right 4px * i
    .ml{i*4}
        margin-left 4px * i
    .mt{i*4i}
        margin-top 4px * i
    .m{i*4}
        margin 4px * i
    .pb{i*4}
        padding-bottom 4px * i
    .pr{i*4}
        padding-right 4px * i
    .pl{i*4}
        padding-left 4px * i
    .pt{i*4i}
        padding-top 4px * i
    .p{i*4}
        padding 4px * i
.centermodel .el-form-item__label
        color white
.page-full-height
    height 100%
.table-full-height
    height calc(100% - 140px)
.full-height
    height 100%
    box-sizing border-box   
.bgWhite
    background #ffffff